<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <script src="../static/jquery/jquery-3.3.1.js"></script>

    </head>
    <body>
    <h2>Dodaj lokalizację</h2>
    <form id="new_location_form" action="#">
        <label>
            <input type="text" name="new_name" id="new_name">
        </label>Nazwa lokalizacji
        <br>
        <label>
            <input type="text" name="new_longitude" id="new_longitude">
        </label>Długość geograficzna
        <br>
        <label>
            <input type="text" name="new_latitude" id="new_latitude">
        </label>Szerokość geograficzna
        <br>
        <input type="button" id="new_location_btn" value="wyślij">
    </form>

    <h2>Znajdź najbliższe lokalizacje</h2>
    <p>Podaj długość i szerokość geograficzną twojej pozycji.
        Jeśli nie podasz odległości, program znajdzie tylko najbliższą lokalizację.</p>

    <form id="user_location_form" action="#" method="get">
        <label>
            <input type="text" name="user_name" id="user_name">
        </label>Nazwa użytkownika
        <br>
        <label>
            <input type="text" name="user_longitude" id="user_longitude">
        </label>Długość geograficzna
        <br>
        <label>
            <input type="text" name="user_latitude" id="user_latitude">
        </label>Szerokośc geograficzna
        <br>
        <label>
            <input type="text" name="perimeter" id="perimeter">
        </label>Odległość do przeszukania (km)
        <br>
        <input type="button" id="user_location_btn" value="wyślij">
    </form>


        <script src="../static/js/script.js"></script>
    </body>
</html>